rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null &&
        request.auth.token.role == 'admin';
    }

    function isActiveUser() {
      return request.auth != null &&
        (request.auth.token.role == 'user' || isAdmin());
    }

    match /users/{userId}/{allPaths=**} {
      allow read, write: if isActiveUser() &&
        (request.auth.uid == userId || isAdmin());
    }
  }
}
